.NavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 62px;
    background-color: #ff8585;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: WHITE;
}

.NavPriority{
    right: 4.2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 62px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: WHITE;
}

.NavSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 62px;
    border-radius: 10px;
    padding: 10px;
    color: #ff8585;
    
}

.NavOption{
    padding: 1em;
    border-radius: 10px;
    background-color: #ff8585;
    color: white;
}
.NavWrapper{
    width: 541px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.NavBlock1,.NavBlock2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
}

.NavBlock1 h1{
    color: white;
}
.NavBlock2{
    position: relative;
    margin-top: 10px;
}
.option-nav{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    right: 0;
}

.Bar{
    padding-left: 1em;
    width: 100%;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}

.Bar::placeholder{
    color: #3B3B3B;
    font-size: 1.5rem;
    font-weight: 300;
}
.option-nav h2{
    font-size: 0.8rem;
    margin-right: 0.5em;
}



.add,.search{
    cursor: pointer;
}
@media (max-width: 541px) {
    .NavContainer{
        width: 100%;
    }
    .NavWrapper{
        width: 90%;
    }
    .NavBlock1,.NavBlock2{
        width: 100%;
    }
    .Bar{
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .option-nav h2{
       font-size: 0.6rem;
   }
   .Bar::placeholder{
       font-size: 0.8rem;
   }
}
    

